// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  overflow-x: hidden;
}

html {
  background-color: #212121;
}

.home-background {
  margin: 0;
  //background: image-url("wave.jpg") no-repeat center center fixed;
  background-color: #212121;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  padding-top: 2em;
}

.video-container {
  display: block;
  margin: 0 auto;
}

video{
  display: block;
  margin: 0 auto;
}